.loading-warp{
    position: absolute;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.05);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}